{% extends 'base.html'%}
{% load static%}
{% comment %} {% load fontawesome_5 %} {% endcomment %}
{% load compress%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
     integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    {% compress css%}
        <link
        href="{% static 'base/css/style.css' %}"
        rel="stylesheet"
        type="text/css"
        />
    {% endcompress%}
    <title>Python Django StockTicker App</title>
    {% comment %} {% fontawesome_5static %} {% endcomment %}
  </head>
  
  <body>
{% block content%}
    <h3><u></u></h3>
      <br>
      <div>
{% if request.user.is_authenticated %}
    <h2>
        Welcome Trader!!
        {% if request.user.first_name %} 
            {{ request.user.first_name }}
        {% else %}
            {{ request.user.username}}
        {% endif %}!<br><br>
        Let's start Trading!!  Click on <a href="product">"Stock Ticker"</a> or <a  href="{% url 'trade' %}">"Trade"</a>or<a  href="{% url 'add_stock' %}">"Portfolio"</a> or <a href="{% url 'trade' %}"<br>
        <a href="{% url 'auth_logout' %}">Logout</a>
      </h2> <br>
      <table class="table table-lg table-dark col-md-6 offset-md-3">
    <thead>
      <tr>
        <th scope="col" colspan="2"><h4>ACCOUNT SUMMARY</h4></th>    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>Cash Balance:</h5></td>
        <td><h5>{{account.balance}}</h5></td>
      </tr>
      <tr>
        <td><h5>Equity:</h5></td>
        <td><h5>{{account_value}}</h5></td>
      </tr>
      <tr>
        <td><h5>Total Shares:</h5></td>
        <td><h5>{{stock_count}}</h5></td>
      </tr>
      <tr>
        <td><h5>Recent Shares:</h5></td>
        <td><h5>{% for stock in stocks %}
              {{stock}}
            {% endfor %}</h5>
        </td>
      </tr>
    </tbody>
</table>
{% comment %} {% endif %} {% endcomment %}
</div>
{% else %}
    <h1>
    Welcome, Mysterious Trader! 
        Would you like to <a href="{% url 'auth_login' %}">Login</a>? or <a href="{% url 'registration_register'%}">SignUp</a>?
    </h1>
{% endif %}<br><br>
{% comment %} <h2>The Mystery Trader currently has {{ bankroll }} dollar(s) for Trading. <br>User location: {{ request.session.location }}</h2> {% endcomment %}
 


  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><i class="fab fa-facebook"></i>



{% endblock%}
<div>
    <footer id="homefooter" class="navbar-fixed bottom">
      <div class="container-fluid">
           <div >
               <p> 2020 &copy The Stock Ticker<br> RR</p><br>
            </div>
       </div>
    </footer>
    </div>
</body>
</html>