
#Business {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
}

#About {
    text-align: center;
}

#home {
    text-emphasis: bold;
    text-align: center;
}

.Contact {
    text-align: center;
}

.Product {
    text-align: center;
}

.Symbol {
    margin-left: 15px;
}

#contact1 {
    text-align: center;
    text-emphasis: bold;
    font-size: large;
}

#one {
    text-align: center;
    font-size: 300%;
    color: rgb(245, 90, 206);
}



#B {
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    font-size: 30px;
}

#homefooter {
    margin-top: 335px;
}

#basefooter {
    margin-top: 200px;
}

#Pbody {
    background-image: url ();
}

