
#Business {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
}

#About {
    text-align: center;
}

#home {
    text-emphasis: bold;
    text-align: center;
}

.Contact {
    text-align: center;
}

.Product {
    text-align: center;
    justify-content: center;
    padding-left: 5%;
}

.Symbol {
    margin-left: 15px;
}

#contact1 {
    text-align: center;
    text-emphasis: bold;
    font-size: large;
}

#one {
    text-align: center;
    font-size: 300%;
    color: rgb(245, 90, 206);
}



#B {
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    font-size: 30px;
}

#homefooter {
    margin-top: 335px;
}

#basefooter {
    margin-top: 200px;
}

#Pbody {
    background-image: url ();
}

.panel-title {
    text-align: center;
    font-size: 65px;
}

#panel-body {
    font-size: 50px;
}

#loginagain {
    text-align: center;
    font-size: 55px;
}

#login1 {
    font-size: 65px;
    color: red;
}

#portfolio1 {
    font-size: 55px;
    color: rgb(22, 82, 245);
}

.PF1 {
    background-color: aliceblue;
}

#panel-title1 {
    font-size: 40px;
}

::placeholder { /*
    Chrome, Firefox, Opera, Safari 10.1 */
    background-color: rgb(144, 223, 243);
    color: black;
}

.tickerinfo {
    justify-content: center;
    background-color: rgb(229, 236, 243);
}

#stockad {
    text-align: left;
}

#Pstockticker {
    text-align: right;
    margin-top: 0px;
}