


body {
    overflow-y: scroll;
}
navbar {
    position: sticky;
    top:0;
}


#Business {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
}

#About {
    text-align: center;
}

#home {
    text-emphasis: bold;
    text-align: center;
}

.Contact {
    text-align: center;
}

.Product {
    text-align: center;
    justify-content: center;
    padding-left: 5%;
}

.Symbol {
    margin-left: 15px;
    background-color: aliceblue;
}

#contact1 {
    text-align: center;
    text-emphasis: bold;
    font-size: large;
}

#one {
    text-align: center;
    font-size: 300%;
    color: rgb(245, 90, 206);
}



#B {
    display: flex;
    justify-content: center;
}

#T {
    display: flex;
    justify-content: right;
    height: 200px;
    width: auto;

}

#TR {
    display: inline;
    height: 165px;
    width: auto;
    justify-content: left;
}

#basefooter {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin-top: 10x;
    height: 50px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    
}

h3 {
    text-align: center;
}

a {
    font-size: 30px;
}

#homefooter {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 150px;
    padding-top: 40px;
    background-color: aliceblue;
    color: black;
    text-align: center;
}

#aboutfooter {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 150px;
    padding-top: 40px;
    background-color: aliceblue;
    color: black;
    text-align: center;
}



#Pbody {
    background-image: url ();
}

.panel-title {
    text-align: center;
    font-size: 65px;
}

#panel-body {
    font-size: 50px;
}

#loginagain {
    text-align: center;
    font-size: 55px;
}

#login1 {
    font-size: 65px;
    color: red;
}

#portfolio1 {
    font-size: 55px;
    color: rgb(22, 82, 245);
}

.PF1 {
    background-color: aliceblue;
}

#panel-title1 {
    font-size: 40px;
}

::placeholder { /*
    Chrome, Firefox, Opera, Safari 10.1 */
    background-color: rgb(144, 223, 243);
    color: black;
}

.tickerinfo {
    justify-content: center;
    background-color: rgb(229, 236, 243);
}

#stockad {
    text-align: left;
}

#Pstockticker {
    text-align: right;
    margin-top: 0px;
}

#chartdata {
    background-color: rgb(160, 208, 247);
}

#bankaccount {
    background-color: aliceblue;
}

#outputArea {
    font-size: 25px;
    text-decoration: underline;
}

.chartpic {
    height: 290px;
    width: auto;
}

 #stockchartpic {
    display: inline-flex;
    justify-content: center;
    padding-bottom: 45px;
    padding-right: 200px;
    padding-left: -250px;
} 

#chart {
    justify-content: center;
    text-align: center;
}

.mytickertoggle {
    display: inline-flex;
    
    padding: 10px;
}